/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.one-post{
  display: inline-block;
  background: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 300px;
}
.one-post img{
  width: 100%;
  height: auto;
  text-align: center;
}
.one-post span{
  color: rgba(92,100,92,0.93);
}

/*nút tìm kiếm */
.search{
  text-align: center;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  background: whitesmoke;
  position: relative;
  overflow: hidden;
}
.search>label{
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  bottom: 5px;
  background: white;
  transition: opacity 1s,bottom 1s;
}
.search>div{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: block;
  position: relative;
  opacity: 0;
  top: -20px;
  transition: opacity 1s,top 1s;
}
.search input{
  font-size: 15px;
  border: none;
  outline: none;
}
.search:hover >label{
  bottom: -20px;
  opacity: 0;
}
.search:hover >div{
  top: 0px;
  opacity: 1;
}