/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.one-post{
  display: inline-block;
  background: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 300px;
}
.one-post img{
  width: 100%;
  height: auto;
  text-align: center;
}
.one-post span{
  color: rgba(92,100,92,0.93);
}