<div ng-app="myApp.view1">
        <div ng-controller="View1Ctrl" ng-init="all_post()">
            <div class="one-post" ng-repeat="(key, row) in full_post">
                <img src="{{severimg+'uploads/'+row.link_img}}" alt="">
                <p> Số thứ tự :{{key}}</p>
                <p>id: <span>{{row._id}}</span></p>
                <p>user: <span>{{row.id_user}}</span></p>
                <p>content: <span>{{row.content}}</span></p>
                <p>add date: <span>{{row.add_date}}</span></p>
                <p>update date: <span>{{row.updated}}</span></p>
                <button ng-click="likes_post(row._id,key)">Like {{row.likes.length}} </button>
                <div>
                    <input type="text" placeholder="nội dung cmt"> <button> gửi</button>
                </div>
            </div>
            <form ng-submit="myFunc()">
                <input type="text" name="id_user">
                <input type="text" name="content">
                <input type="file" name="feature">
                <button type="submit">gửi</button>
            </form>
            <div class="search">
                <label>Tìm kiếm</label>
                <div>
                    <input type="text" placeholder="nhập nội dung"/>
                </div>

            </div>
        </div>
</div>

